USE [master]
GO
/****** Object:  Database [University_DB]    Script Date: 11/1/2018 2:31:30 AM ******/
CREATE DATABASE [University_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'University_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\University_DB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'University_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\University_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [University_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [University_DB]
GO
/****** Object:  Table [dbo].[Admin_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_User_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssignTeacher_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignTeacher_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_AssignTeacher_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](50) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[CourseCredit] [decimal](5, 3) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[DeptId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
 CONSTRAINT [PK_Course_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptCode] [nvarchar](50) NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designation_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Designation_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Enroll_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enroll_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrollDate] [date] NOT NULL,
 CONSTRAINT [PK_Enroll_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Grade_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Grade] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Grade_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Result_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[GradeId] [int] NOT NULL,
 CONSTRAINT [PK_Result_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomAllocation_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomAllocation_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeptId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[Day] [nvarchar](50) NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_RoomAllocation_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semester_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Semester_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[StudentEmail] [nvarchar](50) NOT NULL,
	[StudentContact] [nvarchar](50) NOT NULL,
	[RegDate] [date] NOT NULL,
	[StudentAddress] [nvarchar](255) NOT NULL,
	[DeptId] [int] NOT NULL,
	[RegisterNumber] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher_tb]    Script Date: 11/1/2018 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherName] [nvarchar](50) NOT NULL,
	[TeacherAddress] [nvarchar](500) NOT NULL,
	[TracherEmail] [nvarchar](50) NOT NULL,
	[TracherContact] [nvarchar](50) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DeptId] [int] NOT NULL,
	[Credit] [decimal](5, 3) NOT NULL,
 CONSTRAINT [PK_Teacher_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin_tb] ON 

INSERT [dbo].[Admin_tb] ([Id], [Name], [UserName], [Password]) VALUES (8, N'Mehedi Hasan', N'mehedi', N'3HhxGocas55cs8Bct+/O3Q==')
SET IDENTITY_INSERT [dbo].[Admin_tb] OFF
SET IDENTITY_INSERT [dbo].[AssignTeacher_tb] ON 

INSERT [dbo].[AssignTeacher_tb] ([Id], [DeptId], [TeacherId], [CourseId], [Status]) VALUES (2031, 11, 1007, 1009, 1)
INSERT [dbo].[AssignTeacher_tb] ([Id], [DeptId], [TeacherId], [CourseId], [Status]) VALUES (2032, 11, 1008, 1010, 1)
INSERT [dbo].[AssignTeacher_tb] ([Id], [DeptId], [TeacherId], [CourseId], [Status]) VALUES (2033, 11, 1007, 1011, 1)
SET IDENTITY_INSERT [dbo].[AssignTeacher_tb] OFF
SET IDENTITY_INSERT [dbo].[Course_tb] ON 

INSERT [dbo].[Course_tb] ([Id], [CourseCode], [CourseName], [CourseCredit], [Description], [DeptId], [SemesterId]) VALUES (1009, N'CSE 101', N'Computer Fundamental', CAST(3.000 AS Decimal(5, 3)), NULL, 11, 1)
INSERT [dbo].[Course_tb] ([Id], [CourseCode], [CourseName], [CourseCredit], [Description], [DeptId], [SemesterId]) VALUES (1010, N'CSE 112', N'Programming and Problem Solving', CAST(3.000 AS Decimal(5, 3)), NULL, 11, 2)
INSERT [dbo].[Course_tb] ([Id], [CourseCode], [CourseName], [CourseCredit], [Description], [DeptId], [SemesterId]) VALUES (1011, N'CSE 113', N'Programming and Problem Solving Lab', CAST(1.000 AS Decimal(5, 3)), NULL, 11, 2)
SET IDENTITY_INSERT [dbo].[Course_tb] OFF
SET IDENTITY_INSERT [dbo].[Department_tb] ON 

INSERT [dbo].[Department_tb] ([Id], [DeptCode], [DeptName]) VALUES (11, N'CSE', N'Computer Science and Engineering')
INSERT [dbo].[Department_tb] ([Id], [DeptCode], [DeptName]) VALUES (12, N'SWE', N'Software Engineering')
INSERT [dbo].[Department_tb] ([Id], [DeptCode], [DeptName]) VALUES (13, N'EEE', N'Electrical and Electronics Engineering')
SET IDENTITY_INSERT [dbo].[Department_tb] OFF
SET IDENTITY_INSERT [dbo].[Designation_tb] ON 

INSERT [dbo].[Designation_tb] ([Id], [DesignationName]) VALUES (1, N'Professor')
INSERT [dbo].[Designation_tb] ([Id], [DesignationName]) VALUES (2, N'Associate Professor')
INSERT [dbo].[Designation_tb] ([Id], [DesignationName]) VALUES (3, N'Senior Lecturer')
SET IDENTITY_INSERT [dbo].[Designation_tb] OFF
SET IDENTITY_INSERT [dbo].[Enroll_tb] ON 

INSERT [dbo].[Enroll_tb] ([Id], [StudentId], [CourseId], [EnrollDate]) VALUES (1002, 1010, 1009, CAST(0xE33E0B00 AS Date))
INSERT [dbo].[Enroll_tb] ([Id], [StudentId], [CourseId], [EnrollDate]) VALUES (1003, 1010, 1010, CAST(0xE33E0B00 AS Date))
INSERT [dbo].[Enroll_tb] ([Id], [StudentId], [CourseId], [EnrollDate]) VALUES (1004, 1012, 1011, CAST(0xE33E0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Enroll_tb] OFF
SET IDENTITY_INSERT [dbo].[Grade_tb] ON 

INSERT [dbo].[Grade_tb] ([Id], [Grade]) VALUES (1, N'A+')
INSERT [dbo].[Grade_tb] ([Id], [Grade]) VALUES (2, N'A')
INSERT [dbo].[Grade_tb] ([Id], [Grade]) VALUES (3, N'A-')
SET IDENTITY_INSERT [dbo].[Grade_tb] OFF
SET IDENTITY_INSERT [dbo].[Result_tb] ON 

INSERT [dbo].[Result_tb] ([Id], [StudentId], [CourseId], [GradeId]) VALUES (1002, 1010, 1009, 1)
INSERT [dbo].[Result_tb] ([Id], [StudentId], [CourseId], [GradeId]) VALUES (1003, 1010, 1010, 1)
INSERT [dbo].[Result_tb] ([Id], [StudentId], [CourseId], [GradeId]) VALUES (1004, 1010, 1012, 1)
SET IDENTITY_INSERT [dbo].[Result_tb] OFF
SET IDENTITY_INSERT [dbo].[Room_tb] ON 

INSERT [dbo].[Room_tb] ([Id], [RoomNumber]) VALUES (1, N'301-AB')
INSERT [dbo].[Room_tb] ([Id], [RoomNumber]) VALUES (2, N'302-AB')
INSERT [dbo].[Room_tb] ([Id], [RoomNumber]) VALUES (3, N'303-AB')
SET IDENTITY_INSERT [dbo].[Room_tb] OFF
SET IDENTITY_INSERT [dbo].[RoomAllocation_tb] ON 

INSERT [dbo].[RoomAllocation_tb] ([Id], [DeptId], [CourseId], [RoomId], [Day], [StartTime], [EndTime], [Status]) VALUES (2002, 11, 1009, 1, N'Saturday', CAST(0x0088770000000000 AS Time), CAST(0x00A08C0000000000 AS Time), 1)
INSERT [dbo].[RoomAllocation_tb] ([Id], [DeptId], [CourseId], [RoomId], [Day], [StartTime], [EndTime], [Status]) VALUES (2003, 11, 1009, 2, N'Monday', CAST(0x0088770000000000 AS Time), CAST(0x00A08C0000000000 AS Time), 1)
INSERT [dbo].[RoomAllocation_tb] ([Id], [DeptId], [CourseId], [RoomId], [Day], [StartTime], [EndTime], [Status]) VALUES (2004, 11, 1010, 3, N'Monday', CAST(0x00A08C0000000000 AS Time), CAST(0x00B8A10000000000 AS Time), 1)
SET IDENTITY_INSERT [dbo].[RoomAllocation_tb] OFF
SET IDENTITY_INSERT [dbo].[Semester_tb] ON 

INSERT [dbo].[Semester_tb] ([Id], [SemesterName]) VALUES (1, N'1st Semester')
INSERT [dbo].[Semester_tb] ([Id], [SemesterName]) VALUES (2, N'2nd Semester')
INSERT [dbo].[Semester_tb] ([Id], [SemesterName]) VALUES (3, N'3rd Semester')
SET IDENTITY_INSERT [dbo].[Semester_tb] OFF
SET IDENTITY_INSERT [dbo].[Student_tb] ON 

INSERT [dbo].[Student_tb] ([Id], [StudentName], [StudentEmail], [StudentContact], [RegDate], [StudentAddress], [DeptId], [RegisterNumber]) VALUES (1010, N'Mehedi Hasan', N'mehedi3555@gmail.com', N'01790744999', CAST(0xE33E0B00 AS Date), N'Dhaka', 11, N'CSE-2018-001')
INSERT [dbo].[Student_tb] ([Id], [StudentName], [StudentEmail], [StudentContact], [RegDate], [StudentAddress], [DeptId], [RegisterNumber]) VALUES (1011, N'Abu Huzaifa', N'abu@gmail.com', N'01700000000', CAST(0xE33E0B00 AS Date), N'Dhaka', 11, N'CSE-2018-002')
INSERT [dbo].[Student_tb] ([Id], [StudentName], [StudentEmail], [StudentContact], [RegDate], [StudentAddress], [DeptId], [RegisterNumber]) VALUES (1012, N'Tamim Iqbal', N'tamim@gmail.com', N'01711111111', CAST(0xE33E0B00 AS Date), N'Dhaka', 11, N'CSE-2018-003')
SET IDENTITY_INSERT [dbo].[Student_tb] OFF
SET IDENTITY_INSERT [dbo].[Teacher_tb] ON 

INSERT [dbo].[Teacher_tb] ([Id], [TeacherName], [TeacherAddress], [TracherEmail], [TracherContact], [DesignationId], [DeptId], [Credit]) VALUES (1007, N'Sazzadur Ahmed', N'Dhaka', N'sazzad@gmail.com', N'01711111111', 4, 11, CAST(15.000 AS Decimal(5, 3)))
INSERT [dbo].[Teacher_tb] ([Id], [TeacherName], [TeacherAddress], [TracherEmail], [TracherContact], [DesignationId], [DeptId], [Credit]) VALUES (1008, N'Israt Ferdous', N'Dhaka', N'israt@gmail.com', N'01722222222', 4, 11, CAST(12.000 AS Decimal(5, 3)))
INSERT [dbo].[Teacher_tb] ([Id], [TeacherName], [TeacherAddress], [TracherEmail], [TracherContact], [DesignationId], [DeptId], [Credit]) VALUES (1009, N'Nasrin Hakim Mithila', N'Dhaka', N'mithila@gmail.com', N'01733333333', 3, 11, CAST(15.000 AS Decimal(5, 3)))
SET IDENTITY_INSERT [dbo].[Teacher_tb] OFF
USE [master]
GO
